<!-- Navbar -->
<nav>
    <div style="width: 100%; height: 100%; justify-content: space-between; align-items: center; gap: 900px; display: inline-flex">
        <div style="width: 93px; height: 28px; background: #F2A283"></div>
        <div style="justify-content: flex-end; align-items: center; gap: 50px; display: flex">
            <div style="padding-left: 40px; padding-right: 40px; padding-top: 15px; padding-bottom: 15px; background: #13AE67; border-radius: 5px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="text-align: center; color: #003637; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Login</div>
            </div>
        </div>
    </div>
</nav>
