
    <div class="error-container">
        <img src="/images/404.svg" alt="Error">
        <div class="error-title">Oops! Page Not Found</div>
        <div class="error-message">We can't seem to find the page you are looking for.</div>
        <div class="back-to-home">
            <a href="/">Back to Homepage</a>
        </div>
    </div>
