<div class="create-event-container">
    <div class="create-event-image">
        <img src="images/eventCreate.png" alt="Create Event Image">
    </div>
    <div class="create-event-content">
        <div class="create-event-text">
            <span class="create-event-text1">Make </span>
            <span class="create-event-text2">way</span>
            <span class="create-event-text1"> for </span>
            <span class="create-event-text2">impact</span>
        </div>
        <div class="create-event-description">
            Create your own event for the community to contribute.
        </div>
        <div class="create-event-button">
            <div class="create-event-button-text"><a href= "/createEvent" style="color: inherit;" > Create Event</a></div>
        </div>
    </div>
</div>
