<div class="footer">
    <div class="footer-logo">
        <img src="/images/logo.png" alt="Your Logo" />
    </div>
    <div class="footer-line"></div>
    <div class="footer-icons">
        <div class="footer-icon">        
        <img src="/images/FacebookLogo.png" alt="Your Logo" />
       </div>
        <div class="footer-icon">        
        <img src="/images/LinkedinLogo.png" alt="Your Logo" />
       </div>        
       <div class="footer-icon">        
        <img src="/images/InstagramLogo.png" alt="Your Logo" />
       </div>
    </div>
</div>
