<nav class="navbar">
    <div class="nav-container">
        <!-- Your logo image here -->
        <img src="/images/logo.png" alt="Your Logo" />
        <a href="pages/login" class="login-link">Login</a>
    </div>
</nav>
