<div class="our-blog">
    <div class="our-blog-title">Our Blog</div>
    <div class="events-container">
        <div class="event">
            <div class="event-image">
                <img src="/images/blog1.jpeg" alt="Event Image">
            </div>
            <div class="event-title">Blog Post 1</div>
            <div class="event-time">Sunday, August 21, 10.00AM</div>
            <div class="event-location">Online</div>
        </div>
        <div class="event">
            <div class="event-image">
                <img  src="/images/blog3.jpeg" alt="Event Image">
            </div>
            <div class="event-title">Blog Post 2</div>
            <div class="event-time">Tuesday, August 23, 2.30PM</div>
            <div class="event-location">Webinar</div>
        </div>
        <div class="event">
            <div class="event-image">
                <img  src="/images/blog3.webp" alt="Event Image">
            </div>
            <div class="event-title">Blog Post 3</div>
            <div class="event-time">Friday, August 26, 12.00PM</div>
            <div class="event-location">Conference</div>
        </div>
    </div>
</div>
