<div class="search-fields">
    <div class="search-field">
        <div class="search-field-title">Looking for</div>
        <div class="search-input-container">
            <div class="search-input-text">Choose event type</div>
            <div class="search-icon">
                <div class="search-icon-bar"></div>
            </div>
        </div>
    </div>
    <div class="search-field">
        <div class="search-field-title">Location</div>
        <div class="search-input-container">
            <div class="search-input-text">Choose location</div>
            <div class="search-icon">
                <div class="search-icon-bar"></div>
            </div>
        </div>
    </div>
    <div class="search-field">
        <div class="search-field-title">When</div>
        <div class="search-input-container">
            <div class="search-input-text">Choose date and time</div>
            <div class="calendar-icon">
                <div class="calendar-icon-bar1"></div>
                <div class="calendar-icon-bar2"></div>
            </div>
        </div>
    </div>
    <!-- Add the search button here -->
    <div class="search-button">
        <div class="search-icon">
            <div class="search-icon-bar1"></div>
            <div class="search-icon-bar2"></div>
        </div>
    </div>
</div>
